Repository spacetelescope/dat_pyinthesky, pull requests merged in 2020-09, with the labels that each got.

#117 Remove/ignore .DS_Store
  .gitignore
  jdat_notebooks/.DS_Store
Labels: Ready to Merge

#106 MRS Mstar data analysis notebook
  jdat_notebooks/MRS_Mstar_analysis/JWST_Mstar_dataAnalysis_usecase.ipynb
  jdat_notebooks/MRS_Mstar_analysis/__init__.py
  jdat_notebooks/MRS_Mstar_analysis/requirements.txt
  jdat_notebooks/environment.yml
Labels: Ready for Review, Ready to Merge, Science Notebook

#110 First instance of transit spectroscopy notebook fitting JWST NIRSpec …
  jdat_notebooks/transit_spectroscopy_notebook/Exoplanet_Transmission_Spectra_JWST.ipynb
  jdat_notebooks/transit_spectroscopy_notebook/requirements
Labels: Ready for Review, Ready to Merge, Science Notebook

#111 First version of the NIRISS/SOSS transit spectroscopy notebooks
  jdat_notebooks/environment.yml
  jdat_notebooks/soss-transit-spectroscopy/HAT-P-1b-PART3-data-analysis.ipynb
  jdat_notebooks/soss-transit-spectroscopy/requirements.txt
Labels: Ready to Merge, Science Notebook
