Repository spacetelescope/dat_pyinthesky, pull requests merged in 2021-01, with the labels that each got.

#127 Read the Doc Documentation for dat_pyinthesky
  docs/Makefile
  docs/conf.py
  docs/images/jda_notebooks_favicon.ico
  docs/images/jda_notebooks_icon.png
  docs/images/jda_notebooks_logo.png
  docs/images/jda_notebooks_logo_wbg.png
  docs/index.rst
  docs/make.bat
  docs/rtd-pip-requirements
Labels: Ready for Review, documentation

#124 NIRISS AMI simulation and pipeline/ImplaneIA calibration notebooks
  jdat_notebooks/niriss_ami_binary/1_niriss_ami_binary.ipynb
  jdat_notebooks/niriss_ami_binary/2_niriss_ami_binary.ipynb
  jdat_notebooks/niriss_ami_binary/pre-requirements.txt
  jdat_notebooks/niriss_ami_binary/requirements.txt
Labels: Ready for Review, Science Notebook

#115 Preimaging notebook 2 and 3: CALWEBB and ASSOCIATION
  jdat_notebooks/preimaging/preimaging_02_calwebb.ipynb
  jdat_notebooks/preimaging/preimaging_03_association.ipynb
  jdat_notebooks/preimaging/requirements.txt
Labels: Science Notebook

#112 MIRI_IFU_YSOs_in_the_LMC Notebook
  jdat_notebooks/MIRI_IFU_YSOs_in_the_LMC/isha_nayak_ysos_in_the_lmc.ipynb
  jdat_notebooks/MIRI_IFU_YSOs_in_the_LMC/pre-requirements.txt
  jdat_notebooks/MIRI_IFU_YSOs_in_the_LMC/requirements.txt
Labels: Science Notebook
